<!-- Add the positions information -->
<div class="col-10 col-lg-8">
  <div class="row">
    <hr>
    <div class="col-12 col-md-7">
      <h4 class="designation fw-bold">{{ .designation }}</h4>
      {{ if .subdesignation }}
      <h6 class="designation">{{ .subdesignation }}</h6>
      {{ end }}
    </div>

    {{ $id := printf "%s-%s" .start  .end }}

    <div class="col-12 col-md-5">
      <p class="text-muted text-end">
        {{ $start := time.Format "Jan 2006" (time.AsTime .start) }}
        {{ $end := "" }}
        {{ if .end }}
          {{ $end = time.Format "Jan 2006" (time.AsTime .end) }}
        {{ else }}
          {{ $end := i18n "present" }}
        {{ end }}
        <span class="fa fa-calendar-alt"></span>
        {{ $start }} - {{ $end }}
        {{ if .duration }}
        <br/>
        {{ .duration }}
        {{ end }}
      </p>
    </div>

    <!-- Add the responsibilities handled at this position -->
    <p>
      {{ .overview | markdownify }}
    </p>
    {{ if .responsibilities }}
      <h6 class="text-heading">{{ i18n "responsibilities" }}</h6>
      <ul class="justify-content-around">
        {{ range .responsibilities }}
            <li>{{ . | markdownify }}</li>
        {{ end }}
      </ul>
    {{ end }}

    {{ if or .softwares .skills }}
      {{ $softwares := .softwares }}
      {{ $skills := .skills }}
      {{ $skillCards := slice }}
      <div class="col-12">
        <h4>{{ i18n "technical-skills" }}</h4>
        {{ range site.Data.en.sections.skills.skills }}
          {{ $softs := slice }}
          {{ $add := false }}
          {{ range .softwares }}
            {{ $soft := . }}
            {{ range $softwares }}
              {{ if eq $soft.name . }}
                {{ $add = true }}
                {{ $softs = $softs | append $soft }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if $add }}
            {{ $id = printf "%s-%s" .name $id }}
            {{ $skill := dict "id" $id "name" .name "logo" .logo "softwares" $softs }}
            {{ $skillCards = $skillCards | append $skill }}
          {{ end }}
        {{ end }}

        <div class="row">
            {{ range $skillCards }}
              {{ partial "cards/position-skill.html" . }}
            {{ end }}
            {{ range $skills }}
            <div class="col-xs-12 col-sm-6 col-lg-4 pt-2 ">
              <div class="row card-position">
                <div class="card-head d-flex">
              {{ if .logo }}
              {{ $logoImage := resources.Get .logo }}
              {{/*  svg do not support "Fit" operation   */}}
              {{ if ne $logoImage.MediaType.SubType "svg" }}
                {{ $logoImage = $logoImage.Fit "24x24" }}
              {{ end }}

              <img
                class="card-img-xs my-auto"
                src="{{ $logoImage.RelPermalink }}"
                alt="{{ .name }}"
              />

              <p class="card-title mx-2">{{ .name }}</p>
            {{ else }}
              <p class="card-title">{{ .name }}</p>
            {{ end }}
                </div>
              </div>
            </div>
            {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
