{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container anchor pb-5 volunteer-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}

  <div class="row align-items-center justify-content-center d-flex">
    <ul class="volunteer-timeline">
    {{ $totalExperiences:= len .volunteer }}
    {{ range $index,$experience:= .volunteer }}
      {{ if eq (mod $index 2) 0 }}
      <li class="volunteer-point volunteer-timeline-inverted">
      {{ else }}
      <li class="volunteer-point">
      {{ end }}
      <div class="volunteer-timeline-badge">
        <i class="fa fa-circle"></i>
      </div>
      <div class="p-1 volunteer-timeline-panel">
        <div class="row">
          <div class="col-12 col-md-6 volunteer-timeline-heading">
            <h4 class="company d-flex align-items-center">
            {{ $logoImage:= resources.Get .organization.logo }}
            {{ if $logoImage }}
              <img
                class="mx-2"
                style="max-height: 2.5rem"
                src="{{ $logoImage.RelPermalink }}"
                alt="{{ .name }}"
                />
            {{ end }}
              {{ .organization.name }}
            </h4>

            <p class="fw-bold mx-2">
              <i>{{ .organization.overview }}</i><br/>
            </p>
          </div>
          <div class="col-12 col-md-6 px-3">
            <p class="text-muted text-end">
              {{ $start := time.Format "Jan 2006" (time.AsTime .organization.start) }}
              {{ $end := "" }}
              {{ if .organization.end }}
                {{ $end = time.Format "Jan 2006" (time.AsTime .organization.end) }}
              {{ else }}
                {{ $end := i18n "present" }}
              {{ end }}
              <span class="fa fa-calendar-alt"></span>
              {{ $start }} - {{ $end }}
              {{ if .organization.duration }}
              <br/>
              {{ .organization.duration }}
              {{ end }}
            </p>
            <p class="text-muted text-end">
                <i class="fa-solid fa-location-dot"></i> {{ .organization.location }}
            </p>
          </div>
          <div class="col-12">
            <div class="container volunteer-timeline-body">

              {{ if .organization.summary }}
              <span class="volunteer-organization-description">
                {{ .organization.summary | markdownify }}
              </span>
              {{ end }}
              {{ if .organization.details }}
                {{ .organization.details | markdownify }}
              {{ end }}
            </div>
          </div>
          {{ range .positions }}
            <div class="col-12 justify-content-center">
                <hr class="mx-1"/>
                <div class="row mx-2">
                  <div class="col-12 col-md-6 pl-3">
                    <h5>{{ .designation }}</h5>
                  </div>
                  <div class="col-12 col-md-6">
                    <p class="text-muted text-end">
                      {{ $start := time.Format "Jan 2006" (time.AsTime .start) }}
                      {{ $end := "" }}
                      {{ if .end }}
                        {{ $end = time.Format "Jan 2006" (time.AsTime .end) }}
                      {{ else }}
                        {{ $end := i18n "present" }}
                      {{ end }}
                      <span class="fa fa-calendar-alt"></span>
                      {{ $start }} - {{ $end }}
                      {{ if .duration }}
                      <br/>
                      {{ .duration }}
                      {{ end }}
                    </p>
                  </div>
                  <div class="col-12">
                    <p>
                      {{ .summary | markdownify }}
                    </p>
                  </div>
                </div>
            </div>
          {{ end }}
        </div>
      </li>
    {{ end }}
    </ul>
  </div>
</div>
