@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  very-large: 1280px,
  extra-large: 1536px,
  ultra-large: 2560px,
);

// Color are chosen from TailwindCSS color scheme
// https://tailwindcss.com/docs/customizing-colors

// transitions
$transition-duration: 0.3s;
$transition-type: ease-out;

// borders and shadows
$box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);

// themes
$themes: (
  'light': (
    // green 600
    'accent-color': #43A047,
    // green 500
    'hover-over-accent-color': #4CAF50,
    // zinc 200
    'text-over-accent-color': #e4e4e7,
    // slate 50
    'bg-primary': #f8fafc,
    // zinc 200
    'bg-primary-inverse': #e4e4e7,
    // zinc 100
    'bg-secondary': #f4f4f5,

    // zinc 200
    'bg-card': #e4e4e7,
    // slate 800
    'heading-color': #008236,
    // slate 800
    'text-color': #1d293d,
    // slate 300
    'inverse-text-color': #cbd5e1,
    // slate 500
    'muted-text-color': #0069a8,
    // red 600
    'inline-code-color': #008236,
    // gray 900
    'highlight-color': #101828,
    // slate 900
    'footer-color': #e4e4e7,

    // Section about
    // sky 900
    'position': #0084d1,
    // red 400
    'social-icon': #e7000b,
  ),
  'dark': (
    // green 600
    'accent-color': #43A047,
    // green 500
    'hover-over-accent-color': #4CAF50,
    // zinc 200
    'text-over-accent-color': #e4e4e7,
    // zinc 950
    'bg-primary': #09090b,
    // zinc 700
    'bg-primary-inverse': #3f3f46,
    // zinc 900
    'bg-secondary': #18181b,
    // zinc 800
    'bg-card': #27272a,
    // green 300
    'heading-color': #AED581,
    // slate 300
    'text-color': #cbd5e1,
    // slate 900
    'inverse-text-color': #3f3f46,
    // slate 500
    'muted-text-color': #b8e6fe,
    // red 600
    'inline-code-color': #dc2626,
    // sky 200
    'highlight-color': #f3f4f6,
    // slate 900
    'footer-color': #27272a,

    // Section about
    // sky 400
    'position': #00bcff,
    // red 400
    'social-icon': #ff6467,
  ),
);

$brand-colors: (
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'linkedin': #0077b5,
  'reddit': #ff4500,
  'tumblr': #35465c,
  'pocket': #ef4056,
  'diaspora': #1e1e1e,
  'whatsapp': #25d366,
);

$alerts: (
  'success': (
    // green 100
    'bg-color': #dcfce7,
    // green 800
    'text-color': #166534,
  ),
  'info': (
    // sky 100
    'bg-color': #e0f2fe,
    // sky 800
    'text-color': #075985,
  ),
  'warning': (
    // yellow 100
    'bg-color': #fef9c3,
    // yellow 800
    'text-color': #854d0e,
  ),
  'danger': (
    // red 100
    'bg-color': #fee2e2,
    // red 800
    'text-color': #991b1b,
  ),
);
